//Color variables

$blue: #19274d;
$blueOpacity: rgba(25, 39, 77, 0.8);
$lightBlue: #86c7ff;
$aquaMarine: #3CFFFE; 
$grey: #505050;
$lightGrey: #f3f3f3; 
$pink: #E0006C; 


//Font variables

@font-face {
    font-family: 'robotoRegular';
    src: url("../assets/font/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: 'robotoBold';
    src: url("../assets/font/Roboto/Roboto-Bold.ttf");
}

$robotoRegular: 'robotoRegular';
$robotoBold: 'robotoBold';