.skills {
	background-color: $aquaMarine;

	&__heading {
		color: $blue;
		border-bottom: solid 1px $blue;
		@include mediaMd {
			font-size: 26px;
		}

		@include mediaSm {
			font-size: 22px;
		}
	}
	&__row {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-gap: 1rem;
		padding: 1rem;
		grid-auto-flow: row;
		justify-items: center;

		@include mediaMd {
			grid-template-columns: repeat(6, 1fr);
		}

		@include mediaSm {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}